.leanJobs {
  min-height: 100vh;
  background: url('../../assets/images/jobsBanner1.png');
  background-size: cover;

  .leanJobsNavWrapper {
    background: #fff;
    position: relative;

    .leanJobsNavBox {
      padding: 0 12px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      >a {
        padding: 16px 0 12px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .hamburguer-wrapper {
        display: none;
        position: absolute;
        top: 22px;
        right: 10px;
        outline: none;

        @media (max-width: 768px) {
          display: block;

          + ul {
            flex-direction: column;
            max-height: 0px;
            transition: 0.3s all ease;
            align-items: unset;
            margin: 0 -10px;

            li.active, a {
              display: flex;
              padding: 0 10px;
              align-items: center;
              height: 30px;
              margin: 0;
            }
          }
        }

        .hamburguer {
          &-box {
            width: 40px;
            height: 24px;
            position: relative;
          }

          &-inner,
          &-inner::before,
          &-inner:after {
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #6d6e71;
          }

          &-inner {
            top: 2px;
          }

          &-inner::before,
          &-inner:after {
            display: block;
            content: "";
          }

          &-inner::before {
            top: 10px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform, opacity;
          }

          &-inner:after {
            top: 20px;
          }
        }

        &.active {
          .hamburguer-inner {
            transform: translate3d(0, 10px, 0) rotate(45deg);

            &::before {
              transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
              opacity: 0;
            }

            &::after {
              transform: translate3d(0, -20px, 0) rotate(-90deg);
            }

          }

          @media (max-width: 768px) {
            +ul {
              max-height: 106px;
              padding-bottom: 16px;
            }
          }
        }

      }

      ul {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;

        li.active {
          color: #f37043;
          padding: 10px;
          text-decoration: none;
          border: 2px solid #2079b5;
        }

        li>a {
          color: #6d6d6d;
          padding: 10px;
          margin: 0 10px;
          text-decoration: none;
          transition: color .25s ease-out;

          &:hover {
            color: #f37043;
          }
        }
      }
    }
  }

  .leanJobsWrapper {
    display: flex;
    padding: 0 0 20px;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }

    .jobsListBox {
      display: flex;
      flex-direction: column;
      width: calc(60% - 20px);

      @media (max-width: 1199px) {
        min-width: 100%;
      }

      .jobsListTitle {
        text-transform: uppercase;
        font-weight: 700;
        color: #f37043;
      }

      .jobsList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        grid-gap: 1rem;

        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        }

        .jobImgBox {
          cursor: pointer;

          // .jobImg {
          //   width: ;
          // }
        }
      }
    }

    .jobSelectedBox {
      margin-left: 20px;
      border-radius: 5px;
      max-width: calc(40% - 20px);
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      background: #0f4863;
      color: #f2f2f2;
      font-weight: 400;
      height: 100%;
      margin-top: 56px;
      min-height: 220px;
      overflow: hidden;

      @media (max-width: 1199px) {
        min-width: 100%;
        margin: 20px 0 0;
      }

      .jobUnselected {
        font-size: 30px;
        font-weight: 500;
        font-style: italic;
        margin: 0;
        display: flex;
        min-width: 100%;
        padding: 20px;
        justify-content: center;
        align-items: center;

        .jobsUnselectedIcon {
          font-size: 44px;
        }
      }

      .jobSelectedInfoWrapper {
        display: flex;
        min-width: 100%;
        padding: 20px;
        transition: transform 0.3s ease-in;

        &.jsi-hidden {
          transform: translateX(-100%);
        }

        .jobSelectedInfoIcon {
          font-size: 40px;
          color: #f2f2f2;
          cursor: pointer;
          margin: auto -20px auto 10px;
        }

        .jobSelectedInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1 1 auto;

          p {
            margin: 0;
          }

          ul {
            list-style: square;
            margin: 0;
          }

          .jobSelectedTitle {
            margin: 0 0 10px;
            font-size: 20px;
            color: #f37043;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;

            .jobSelectedCloseIcon {
              font-size: 24px;
              cursor: pointer;
              color: #ccc;
              transition: color 0.2s ease-in-out;

              &:hover {
                color: #fff;
              }
            }
          }

          .jobSelectedBasicInfo {
            letter-spacing: 0.74px;
            line-height: 1.5;

            span {
              font-weight: 500;
              letter-spacing: 0.90px;
            }
          }

          .jobSelectedInfoListTitle {
            margin: 15px 0 0;
            letter-spacing: 1.04px;
            color: #2abced;
            font-size: 18px;
          }

          .jobSelectedInfoListItem {
            letter-spacing: 0.74px;
            margin-left: 20px;
            line-height: 1.5;
          }

          .jobSelectedApplyBtn {
            height: 42px;
            margin: 15px 0 0;
            padding: 0 40px;
            color: #f2f2f2;
            background: #f37043;
            text-transform: uppercase;
            border: 0;
            outline: none;
            margin: 20px auto 0;
            font-weight: 500;
            font-size: 18px;
            width: 220px;
            display: block;
            transition: background 0.25s ease-out;

            &:hover {
              background: #ff8814;
            }
          }

          .jobSelectedCopyText {
            display: block;
            margin: 5px 0;
            text-align: center;
            font-size: 12px;
          }

          .jobSelectedCopyBtn {
            height: 32px;
            margin: 15px 0 0;
            padding: 0 40px;
            color: #6d6d6d;
            background: #f2f2f2;
            text-transform: uppercase;
            border: 0;
            outline: none;
            margin: 0 auto;
            font-weight: 500;
            font-size: 14px;
            display: block;
            width: 220px;
            transition: background 0.25s ease-out;

            &:hover {
              background: #fff;
            }
          }
        }
      }

      .jobApplyBox {
        min-width: 100%;
        min-height: 100%;
        transition: transform 0.3s ease-in;
        display: flex;
        padding: 20px;

        &.jaf-visible {
          transform: translateX(-100%);
        }

        .jobApplFormIcon {
          font-size: 40px;
          color: #f2f2f2;
          cursor: pointer;
          margin: auto 0px auto -20px;
        }

        .jobApplyForm {
          flex: 1 1 auto;

          label {
            width: 100%;
            margin: 0 0 15px;
            font-weight: 500;

            .form-control {
              margin-top: 5px;

              &:hover,
              &:focus {
                border: 1px solid #ff8814;
              }

              &.jaf {

                &-tInput {
                  min-height: 100px;
                  resize: none;
                }
              }
            }
          }

          .jobApplyBtn {
            height: 42px;
            outline: none;
            border: 0;
            padding: 0 40px;
            text-transform: uppercase;
            background: #f37043;
            font-weight: 500;
            margin: 0 0 0 auto;
            display: block;
          }
        }
      }
    }
  }
}
